@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 */

hr {
  --bs-border-width:10px
}

/*
  Overwrite darkStyle for react-json-view-lite
*/
._11RoI {
  background: rgb(33, 37, 41) !important;
}


#top-nav-module-dropdown {
  margin-left: 0px;
  padding-left: 4px !important;
  background: inherit;
  border-width: 0; 
  color: var(--bs-nav-link-color);

}

#top-nav-config-dropdown {
  margin-left: 0px;
  padding-left: 4px !important;
  background: inherit;
  border-width: 0; 
  color: var(--bs-nav-link-color);
}

